<div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a class="mdl-tabs__tab is-active" href="#bucketlists-new__panel">New</a>
            <a class="mdl-tabs__tab" href="#bucketlists-pending__panel">Pending</a>
            <a class="mdl-tabs__tab" href="#bucketlists-complete__panel">Completed</a>
        </div>
        <div id="bucketlists-new__panel" class="mdl-tabs__panel is-active">
        </div>
        <div id="bucketlists-pending__panel" class="mdl-tabs__panel">
        </div>
        <div id="bucketlists-complete__panel" class="mdl-tabs__panel">
        </div>
    </div>
</div>
<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--colored bottom-right">
    <i class="material-icons">add</i>
</button>
