<div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <span class="mdl-card__title-text">{{title}}</span>
    </div>
    <div class="mdl-card__supporting-text">
        {{description}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a  class="mdl-button mdl-js-button mdl-js-ripple--effect mdl-button--colored">Edit</a>
        <a  class="mdl-button mdl-js-button mdl-js-ripple--effect mdl-button--icon mdl-color-text--red-900">
            <i class="material-icons">delete</i>
        </a>
    </div>
</div>
