    <div (click)="onClick(_id)"class="mdl-card mdl-shadow--2dp uk-animation-scale-up uk-card-hover" style="background-size: cover; margin: 10px; cursor: pointer">
        <div class="mdl-card__title mdl-card--expand">
            <span class="mdl-card__title-text" style="font-family: 'Indie Flower', cursive;">{{title}}</span>
        </div>
        <div class="mdl-card__supporting-text">
            {{description}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a  class="mdl-button mdl-js-button mdl-js-ripple--effect mdl-button--icon mdl-color-text--blue-600">
                <i class="material-icons">create</i>
            </a>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
        </div>
    </div>

